.a1 {
    background: url(../image/group_card_list_icon_lvv1.png) no-repeat;
    background-size: 100%;
}

.a2 {
    background: url(../image/group_card_list_icon_lvv2.png) no-repeat;
    background-size: 100%;
}

.a3 {
    background: url(../image/group_card_list_icon_lvv3.png) no-repeat;
    background-size: 100%;
}

.a4 {
    background: url(../image/group_card_list_icon_lvv4.png) no-repeat;
    background-size: 100%;
}

.a5 {
    background: url(../image/group_card_list_icon_lvv5.png) no-repeat;
    background-size: 100%;
}

.a6 {
    background: url(../image/group_card_list_icon_lvv6.png) no-repeat;
    background-size: 100%;
}

.a7 {
    background: url(../image/group_card_list_icon_lvv7.png) no-repeat;
    background-size: 100%;
}